<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ResponsableAcademico"         value="M. en C. Armando Alcalde Martínez"/>
    <add key="InstitucionEducativa"         value="Tecnológico de Estudios Superiores de Ecatepec"/>
    <add key="ClaveInstitucionEducativa"    value="TESE"/>
  </appSettings>

</configuration>